.selected-item,
.no-selected-item {
    display: block;
}

.item-form-element.empty .selected-item {
    display: none;
}

.item-form-element.empty .item-form-clear {
    display: none;
}

.item-form-element:not(.empty) .no-selected-item {
    display: none;
}

.selected-item-image {
    max-width: 100%;
}